<div *ngIf="warningMessage">
    <p>{{warningMessage}}</p>
</div>
<p-card title='{{cardTitle}}' styleClass="ui-card-shadow">

    <div>
        <p>{{banner}}</p>
        <div [ngSwitch]="state">
            <app-two-inputs *ngSwitchCase="'prep'" [input1]="lowerBound" [input2]="upperBound" (newInputs)="updateBounds($event)"></app-two-inputs>
            <input *ngSwitchCase="'play'" (keyup.enter)="readInput()" [(ngModel)]="guess" type="text">
            <p *ngSwitchCase="'done'">{{finalMessage}}</p>
            <p *ngSwitchDefault>{{state}}</p>
        </div>
        <p-button (onClick)="readInput()" label="{{label}}"></p-button>
        <div>
            <ul *ngFor="let msg of messages">
                <li>{{msg}}</li>
            </ul>
        </div>
    </div>

</p-card>
